body {
  text-align: center;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
  align-items: center;
  background-color: black;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

a {
  color: seashell;
}

header img {
  padding-left: 10px;
  height: 50px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
  height: 700px;
  width: 1200px;
}

#mission .copy {
  background-color: black;
  width: 100%;
  margin: auto;
}

#featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  width: 300px;
  height: 200px;
  flex-wrap: wrap;
  display: block;
  margin: 10px
}

.item span {
  padding: 10px;
  display: block;
}

#Locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
  padding-top: 70px;
}

#Locations .flex-container {
  margin: auto;
  width: 1100px;
}

#Locations h2 {
  padding: 10px;
}
.location {
  background-color: black;
  width: 300px;
  margin: 5px 20px;
  padding: 15px;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
